@use "reset";

// COLORS
$black: #000000;
$dark: #272727;
$white: #ffffff;
$purple: #800080;
$red: #b70000;
$grey: #7e7a7a;
$grey-50: rgba($grey, 0.5);
$back: #d0cad9;

// BOX SHADOWS
$shadow-1: 4px 4px 16px rgba($dark, 0.25), inset -4px -4px 16px rgba($dark, 0.1),
  inset 4px 4px 16px rgba($dark, 0.07);
$shadow-2: 4px 4px 16px rgba($dark, 0.1);
$inner-shadow: inset -4px -4px 16px rgba($dark, 0.15),
  inset 4px 4px 16px rgba($dark, 0.15);

// BORDER RADIUS
$br-4: 4px;

// TYPOGRAPHY
$font-family: "Arial", sans-serif;

// FONT SIZES
$fs-36: 36px;
$fs-24: 24px;

// FONT WEIGHTS
$fw-700: 700;
$fw-400: 400;

// LINE HEIGHTS
$lh-one: 41.4px;
$lh-two: 27.6px;

// MIXINS
@mixin h1 {
  font-size: $fs-36;
  font-weight: $fw-700;
  color: $black;
  line-height: $lh-one;
}

@mixin h2 {
  font-size: $fs-24;
  font-weight: $fw-700;
  color: $black;
  line-height: $lh-two;
}

@mixin t1 {
  font-size: $fs-24;
  font-weight: $fw-400;
  color: $black;
  line-height: $lh-two;
}

// COMPONENTS
.button {
  @include h2;
  padding: 8px;
  color: $white;
  box-shadow: $shadow-1;
  border-radius: $br-4;
  background-color: $purple;
  text-align: center;

  &--grey {
    background-color: $grey;
  }
}

.input {
  @include t1;
  padding: 9px 10px 5px 10px;
  border: 1px solid $dark;
  background-color: $back;
  height: 44px;
}

.overflow-hidden {
  overflow: hidden;
}

body {
  font-family: $font-family;
  background-color: $back;
  color: $dark;
}

button {
  cursor: pointer;
}

.login {
  &-container {
    display: grid;
    place-items: center;
    height: 100vh;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: calc(100% - 48px);

    &__title {
      @include h2;
      color: $black;
    }

    & input {
      width: 100%;
      margin-top: 24px;
    }

    & button {
      width: 264px;
      margin-top: 64px;
    }
  }
}

.todo {
  &-container {
    padding: 56px;

    & h1 {
      @include h1;
      color: $black;
      margin-bottom: 40px;
    }
  }

  &-list {
    &-container {
      position: relative;

      & .add-todo {
        position: absolute;
        top: 0;
        right: 0;
        width: 256px;
      }
    }

    &-day-item {
      & h2 {
        @include h2;
        display: flex;
        align-items: center;
        grid-gap: 8px;
        margin-bottom: 16px;

        & i {
          color: $purple;
        }
      }

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      max-width: 720px;
      width: 100%;

      & button {
        color: $black;
      }

      & i {
        height: 44px;
        width: 44px;
        display: grid;
        place-items: center;
        border: 1px solid $dark;
        font-size: $fs-24;
      }

      &,
      & input {
        background-color: $white;
      }

      & input {
        flex: 1;
      }

      & .check {
        & i {
          &::before {
            opacity: 0;
          }
        }
      }

      & .delete {
        &:hover {
          color: $red;
        }
      }

      & input {
        pointer-events: none;
      }

      &.checked {
        & .check {
          & i {
            &::before {
              opacity: 1;
            }
          }
        }

        & .check,
        & input {
          color: $grey;
        }
      }

      &.editing {
        & input {
          pointer-events: all;
          box-shadow: $inner-shadow;
        }
      }
    }
  }
}

.add-todo-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $grey-50;
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__form {
    background-color: $white;
    padding: 48px 40px 40px 48px;
    max-width: 753px;
    width: calc(100% - 48px);

    &-inputs {
      & table {
        border-collapse: separate;
        border-spacing: 0 32px;
        width: 100%;

        & th {
          @include h2;
          color: $dark;
          width: 1%;
          white-space: nowrap;
          padding-right: 12px;
        }

        & input[type="text"] {
          width: 100%;
        }

        & input[type="date"] {
          position: relative;

          &::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
          }

          width: 149px;
        }
      }
    }

    &-buttons {
      display: flex;
      grid-gap: 48px;

      & button {
        flex: 1;
      }
    }
  }
}

@media (max-width: 1096px) {
  .login {
    &-form {
      & button {
        width: 100%;
        margin-top: 32px;
      }
    }
  }

  .todo {
    &-container {
      padding: 24px;
    }

    &-list {
      &-container {
        & .add-todo {
          position: sticky;
          width: 100%;
          border-radius: 0;
        }
      }

      &-day-item {
        &:first-of-type {
          margin-top: 40px;
        }
      }

      &-item {
        & input {
          width: inherit;
        }
      }
    }
  }
}
